<!DOCTYPE html>
{% load static %}
{% load i18n %}
{% get_media_prefix as MEDIA_PREFIX %}
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300&display=swap" rel="stylesheet">
    <script src="{% static 'scripts/jquery/jquery-3.5.1.min.js' %}"> </script>
    <script src="https://kit.fontawesome.com/7355da5ce4.js" crossorigin="anonymous"></script>
    {% comment %} <link href="{% static 'bs_icons/bootstrap-icons.css' %}" rel="stylesheet" /> {% endcomment %}
    <link href="{% static 'css/main.css' %}" rel="stylesheet" />
    <link href="{% static 'profiles/profilestyles.css' %}" rel="stylesheet" />
    <link href="{% static 'userauth/bootstrap-social.css' %}" rel="stylesheet" />
    <link href="{% static 'userauth/userstyles.css' %}" rel="stylesheet" />
    {% block styles %} {% endblock styles %}
    <title> {% block head_title %}{% trans "Notepad" %}{% endblock head_title %} </title>
    {% block extra_head %}{% endblock extra_head %}
</head>
<body>
    <div class="wrapper-body mgrid">
        <nav class="wrapper-nav" role="navigation" aria-label="main">
            <div class="nav-icon">
            <a href="/"><img src='{{ MEDIA_PREFIX }}basefiles/NOTEDDK.png' alt="" class="nav-img"></a>
            </div>
            <div class="nav-main">
            {% if user.is_authenticated %}
                <a class="nav--bttn" href="{% url 'note_home' %}"> Notes </a>
                <a class="nav--bttn" href="{% url 'notebook_home' %}"> Notebooks </a>
                <a class="nav--bttn__profile mg-l" href="{% url 'profile_detail' %}"> Profile </a>
                <a href="#" class="nav--bttn__logout modal-trigger account-trigger" data-target="account-modal" data-url="{% url 'account_logout' %}" data-bs="logout">Logout</a>
            {% else %}
                <a class="nav--bttn" href="{% url 'account_login' %}"> Login </a>
                <a class="nav--bttn" href="{% url 'account_signup' %}"> Signup </a>
            {% endif %}
            </div>
        </nav>
        <main class="wrapper-main" role="main">
            {% block body %}

            {% endblock body %}
        </main>
    </div>

    <!-- div test container -->
    <div class="modal" id="account-modal">
        <div class="modal-header">
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
        <button type="button" class="icon--close modal-close" data-bs-dismiss="modal">No</button>
        <button type="submit" class="icon--accept" form="accountForm" >Yes</button>
        </div>
    </div>
    <script src="{% static 'scripts/materialize/materialize.js' %}"></script>
    <script src="{% static 'scripts/animation/anime.min.js' %}"></script>
    <script src="{% static 'scripts/scripts.js' %}"></script>

    {% if messages %}
    {% for message in messages %}
    <script> callToast('{{ message }}') </script>
    {% endfor %}
    {% endif %}
    {% block script %}

    {% endblock script %}

</body>