appdirs==1.4.4
argon2-cffi==20.1.0
asgiref==3.3.1
astroid==2.4.2
autopep8==1.5.4
backcall==0.2.0
bcrypt==3.2.0
bleach==3.3.0
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
click==7.1.2
cloudscraper==1.2.56
colorama==0.4.4
cryptography==3.4.4
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.1
Django==3.1.3
django-allauth==0.44.0
django-audit-log==0.7.0
django-crispy-forms==1.10.0
django-debug-toolbar==3.2
django-extensions==3.1.1
django-mailer==2.1
django-phonenumber-field==5.0.0
django-summernote==0.8.11.6
filelock==3.0.12
flake8==3.8.4
idna==2.10
ipykernel==5.4.3
ipython==7.19.0
ipython-genutils==0.2.0
iso8601==0.1.14
isort==5.6.4
jedi==0.18.0
jupyter-client==6.1.11
jupyter-core==4.7.0
lazy-object-proxy==1.4.3
lockfile==0.12.2
m3u8==0.8.0
mccabe==0.6.1
oauthlib==3.1.0
packaging==20.9
parso==0.8.1
phonenumbers==8.12.13
pickleshare==0.7.5
Pillow==8.0.1
pip-tools==5.5.0
prompt-toolkit==3.0.14
psycopg2==2.8.6
pycodestyle==2.6.0
pycparser==2.20
pyflakes==2.2.0
Pygments==2.7.4
PyJWT==2.0.1
pylint==2.6.0
pyOpenSSL==20.0.1
pyparsing==2.4.7
python-dateutil==2.8.1
python-decouple==3.4
python3-openid==3.2.0
pytz==2020.4
pywin32==300
pyzmq==21.0.2
requests==2.25.1
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
shortuuid==1.0.1
six==1.15.0
sqlparse==0.4.1
toml==0.10.2
tornado==6.1
traitlets==5.0.5
Unidecode==1.2.0
urllib3==1.26.3
virtualenv==20.2.1
virtualenvwrapper-win==1.2.6
wcwidth==0.2.5
webencodings==0.5.1
wrapt==1.12.1