{% extends "base_template.html" %}
{% load static %}

{% block styles %}
  <link href="{% static 'profiles/profilestyles.css' %}" rel="stylesheet" />
{% endblock styles %}

{% block innermain %}
<div class ="inner-main">

  {% block body %}
  <div class="wrapper-base mflex flex-col" style="height:100vh;">
    <div class="profile-main">
      <div class="profile-card">
      {% if user.user_profile.profile_picture %}
        <img src="{{ user.user_profile.profile_picture.url }}" alt="" height="80px" width="80px">
      {% endif %}
        <p> Welcome {{ user.username }}</p>
        <small>{{ user.email }}</small>
      </div>
      <div class="profile-stats">
      <div class="card-mini">
        <span>{{ note_count }}</span>
        <p>Notes</p>
      </div>
      <div class="card-mini">
        <span>{{ notebook_count }}</span>
        <p>NoteBooks</p>
      </div>
      </div>
      <div class="profile-form">
      {% block extendform %}
        <p> Update Your Profile </p>
        <form enctype="multipart/form-data" method='POST' class="profileForm">
          {% csrf_token %}
          {% for hidden in form.hidden_fields %}
          {{ hidden }}
          {% endfor %}
          <div class="input-set">
            {{ form.birth_date.errors }}
            <label class="input-set__label">Birth Date:</label>
            <div class="input-set__file">
            {{ form.birth_date }}
            </div>
          </div>
          {{ form.profile_picture.errors }}
          {{ form.profile_picture }}
          <button class="bttn--base" type="submit">Update Profile</button>
        </form>
      {% endblock extendform %}
      </div>
      <div class="profile-extras">
        {% block extras %}
        <a href="#" class="bttn--base modal-trigger account-trigger" data-target="account-modal" data-url="{% url 'ajax_password_reset' %}" data-bs="password-reset">Reset Password</a>
        <a href="{% url 'account_change_password' %}" class="bttn--base">Update Password</a>
        <a href="#" class="bttn--base modal-trigger account-trigger" data-target="account-modal" data-url="{% url 'account_logout' %}" data-bs="logout">Logout</a>
        {% endblock extras %}
      </div>
    </div>
  </div>
  {% endblock body %}

</div>
{% endblock innermain %}