container_commands:
    01_chmod:
        command: find .platform/hooks/ -type f -iname "*.sh" -exec chmod +x {} \;
    02_collectstatic:
        command: "source /var/app/venv/*/bin/activate && python3 manage.py collectstatic --noinput"

option_settings:
    aws:elasticbeanstalk:application:environment:
      DJANGO_SETTINGS_MODULE: alphanote.settings
      LOG_LEVEL: INFO
      LOG_FILE_PATH: /tmp/django-app.log
    aws:elasticbeanstalk:container:python:
        WSGIPath: alphanote.wsgi:application
