container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python alphanote/manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python alphanote/manage.py collectstatic --noinput"

option_settings:
    "aws:elasticbeanstalk:application:environment":
      DJANGO_SETTINGS_MODULE: "alphanote.settings"
      "PYTHONPATH": "./src"
    "aws:elasticbeanstalk:container:python":
      WSGIPath: alphanote/alphanote/wsgi.py