container_commands:
  collectstatic:
    command: "manage.py collectstatic --noinput"
  01migrate:
    command: "manage.py migrate"
    leader_only: true

option_settings:
    "aws:elasticbeanstalk:application:environment":
      DJANGO_SETTINGS_MODULE: "alphanote.settings"
      "PYTHONPATH": "./src"
    "aws:elasticbeanstalk:container:python":
      WSGIPath: alphanote/alphanote/wsgi.py