container_commands:
    00_chmod:
        command: "chmod +x .platform/hooks/postdeploy/00_django_loggingtasks.sh"
    01_chmod:
        command: "chmod +x .platform/hooks/postdeploy/01_django_migrate.sh"
    02_chmod:
        command: "chmod +x .platform/hooks/postdeploy/02_django_collectstatic.sh"
    03_chmod:
        command: "chmod +x .platform/hooks/postdeploy/03_django_createuser.sh"