<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300&display=swap" rel="stylesheet">
    <script src="{% static 'scripts/jquery/jquery-3.5.1.min.js' %}"> </script>
    <link href="{% static 'css/normalize.css' %}" rel="stylesheet" />
    <link href="{% static 'css/main.css' %}" rel="stylesheet" />
    <link href="{% static 'userauth/bootstrap-social.css' %}" rel="stylesheet" />
    <link href="{% static 'userauth/userstyles.css' %}" rel="stylesheet" />
    {% block styles %}

    {% endblock styles %}
    <title>
    {% block head_title %}{% trans "Noted" %}{% endblock head_title %}
    </title>
    {% block extra_head %}
    {% endblock extra_head %}
  </head>
  <body>
    <div class="wrapper-body mgrid">
      <header class="wrapper-header"> </header>
      <nav class="wrapper-nav" role="navigation" aria-label="main">
          <div class="nav-icon">
            <a href="/"><img src="{% static 'basefiles/NOTEDDK.png' %}" alt="" class="nav-img"></a>
          </div>
          <div class="nav-main">
            {% if user.is_authenticated %}
            <a class="nav--bttn" href="{% url 'note_home' %}"> Notes </a>
            <a class="nav--bttn" href="{% url 'notebook_home' %}"> Notebooks </a>
            <div class="nav--bttn__dropdown dropdown-trigger btn" id="single-dropdown" data-target='dropdown1'>Menu</div>
            {% block newitem %}{% endblock newitem %}
            <form class="input-field form-search mg-l" action="{% url 'search_results' %}" method="GET">
              <input id="search" name="search_bar" type="search" placeholder="Search...">
            </form>
            <a class="nav--bttn__profile mg-l" href="{% url 'profile_detail' %}"> Profile </a>
            <a class="nav--bttn" href="{% url 'about_main' %}" id="aboutbtn"> About </a>
            <a href="#" class="nav--bttn__logout modal-trigger account-trigger mg-l" data-target="account-modal" data-url="{% url 'account_logout' %}" data-bs="logout">Logout</a>
            {% else %}
            <a class="nav--bttn" href="{% url 'account_login' %}" id="loginbtn"> Login </a>
            <a class="nav--bttn" href="{% url 'account_signup' %}" id="signupbtn"> Signup </a>
            <a class="nav--bttn" href="{% url 'about_main' %}" id="aboutbtn"> About </a>
            {% endif %}
            <div class="nav-dropdown-content dropdown-content" id="dropdown1" >
              <a class="icon--accept" href="{% url 'note_home' %}"> Notes </a>
              <a class="icon--accept" href="{% url 'notebook_home' %}"> Notebooks </a>
              <a class="icon--accept" href="{% url 'profile_detail' %}"> Profile </a>
              <button type="button" class="icon--note modal-trigger" id="modal-bttn" data-target="noteModal">New Note</button>
              <button type="button" class="icon--notebook modal-trigger" id="modal-bttn" data-target="notebookModal">New NoteBook</button>
            </div>
            <div class="nav-dropdown-content dropdown-content" id="dropdown2" >
              <button type="button" class="icon--note modal-trigger" id="modal-bttn" data-target="noteModal">New Note</button>
              <button type="button" class="icon--notebook modal-trigger" id="modal-bttn" data-target="notebookModal">New NoteBook</button>
            </div>
            
            {% block navbar %}

            {% endblock navbar %}
          </div>
      </nav>
      <aside class="wrapper-sidebar" role="navigation" aria-label='side'>
        <div class="inner-sidebar">
          <div class="bttn__toggler" aria-expanded="false"></div>
          {% block sidebar %}

          {% endblock sidebar %}
          <button class="bttn__dropdown">dropdown</button>
          <div class="sdb-dropdown-content" aria-hidden="true">
            <li class="bttn">List 1</li>
            <li class="bttn">Link 2</li>
          </div>
          <div class="bttn">grid-item6</div>
        </div>
        <div class="sub-sidebar">
          {% comment %} <button type="button" class="bttn__input" id="modal-bttn" data-bs-target="#pageModal">
            create
          </button> {% endcomment %}
          <!-- Button trigger modal -->
          {% block sub-sidebar %}

          {% endblock sub-sidebar %}
        </div>
      </aside>
      <main class="wrapper-main" role="main">
        {% block innermain %}
          {% block body %}

          {% endblock body %}
          {% block content %}

          {% endblock content %}
          {% block extra_body %}

          {% endblock extra_body %}
        {% endblock innermain %}
      </main>
      <footer class="wrapper-footer">
        <p>
          footer
        </p>
      </footer>

    </div>

    {% comment %} div modal container {% endcomment %}
    <div class="modal" id="account-modal">
      <div class="modal-header">
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
      </div>
    </div>

    {% comment %} options modal container {% endcomment %}
    <div class="opt-content" id="option-container">
      <div class="opt-body">

      </div>
      <div class="opt-footer">

      </div>
    </div>

    <!-- Modal -->
    {% block modalblock %} {% endblock modalblock %}
    {% block modalblock2 %} {% endblock modalblock2 %}

    {% comment %} fixed action button {% endcomment %}
    {% block fixedbutton %}
  
    {% endblock fixedbutton %}

    <script src="https://kit.fontawesome.com/7355da5ce4.js" crossorigin="anonymous"></script>
    <script src="{% static 'scripts/materialize/materialize.js' %}"></script>
    <script src="{% static 'scripts/animation/anime.min.js' %}"></script>
    <script src="{% static 'scripts/scripts.js' %}"></script>

    {% if messages %}
      {% for message in messages %}
      <script> callToast('{{ message }}') </script>
      {% endfor %}
    {% endif %}
    {% block script %}

    {% endblock script %}

  </body>
