{% extends "base_template.html" %}
{% load static %}

{% block styles %}
  <link href="{% static 'notes/summernote/summernote-customlite.min.css' %}" rel="stylesheet" />
{% endblock styles %}

{% block newitem %}
  <div class="nav--bttn__dropdown dropdown-trigger" data-target='dropdown2'> New Item </div>
{% endblock newitem %}

{% block innermain %}
{% if notebooks %}
  <div class ="inner-main">
    {% block body %}
      {% for notebook in notebooks  %}
        <div class="card-main" data-src="{{ notebook.id }}">
          <div class="card-subject">{{ notebook.name }}</div>
          <div class="card-content">
            {% for note in notebook.notes_query %}<a href="{{ note.get_absolute_url }}">{{ note.title }}</a>{% endfor %}
          </div>
          <div class="card-extras">
            <a class="icon--accept" href="{{ notebook.get_absolute_url }}">View</a>
            <button class="icon--delete delNotebook" href="{% url 'notebook_delete' notebook.id %}" data-bs="delNotebook">Delete</button>
          </div>
        </div>
      {% endfor %}
    {% endblock body %}
  </div>
{% else %}
  {% include "notes/empty_card.html" with content='notebook' subject="Notebooks" %}
{% endif %}
{% endblock innermain %}

{% block modalblock %}
  <div class="modal" id="noteModal" >
    <div class="modal-header">
      <h5 class="modal-title">New Note</h5>
    </div>
    <div class="modal-body">
      {% include 'notes/note_modal.html' %}
    </div>
    <div class="modal-footer">
      <button type="button" class="bttn--base modal-close" data-bs-dismiss="modal">Cancel</button>
      <button type="submit" class="bttn--base" form="NoteModalForm" >Save</button>
    </div>
  </div>
{% endblock modalblock %}

{% block modalblock2 %}
  <div class="modal" id="notebookModal" >
    <div class="modal-header">
      <h5 class="modal-title">New NoteBook</h5>
    </div>
    <div class="modal-body">
      {% include 'notebooks/notebook_modal.html' %}
    </div>
    <div class="modal-footer">
      <button type="button" class="bttn--base modal-close" data-bs-dismiss="modal">Cancel</button>
      <button type="submit" class="bttn--base" form="NoteBookModalForm" >Save</button>
    </div>
  </div>
{% endblock modalblock2 %}

{% block fixedbutton %}
  {% include "notes/fixed_button.html" with item=notebooks %}
{% endblock fixedbutton %}

{% block script %}
  <script src="{% static 'notes/summernote/summernote-lite.min.js' %}"> </script>
  {% if not notebooks %}
    <script> animator.animate('','emptyPage')</script>
  {% endif %}
{% endblock script %}