<form method="POST" class="modal-note" name='NoteModalForm' id="NoteModalForm" action="{% url 'note_home' %}">
  {% csrf_token %}
  {% for hidden in form.hidden_fields %}
  {{ hidden }}
  {% endfor %}
  <div class="input-field">
    {{ form.title.errors }}
    {{ form.title }}
    {{ form.title.label_tag }}
  </div>
  <div class="input-field">
    {{ form.content.errors }}
    {{ form.content }}
  </div>
  <div class="input-select">
    {{ form.notebook.errors }}
    {{ form.notebook.label_tag }}
    {{ form.notebook }}
  </div>
</form>