{% extends "base_template.html" %}
{% load static %}

{% block styles %}
  <link href="{% static 'notes/summernote/summernote-customlite.min.css' %}" rel="stylesheet" />
{% endblock styles %}

{% block newitem %}
  <div class="nav--bttn__dropdown dropdown-trigger" data-target='dropdown2'> New Item </div>
{% endblock newitem %}

{% block innermain %}
  {% if notes %}
    <div class="inner-main">
      {% block body %}
        {% for note in notes  %}
          <div class="card-main" data-src="{{ note.id }}" data-bs="noteCard">
            <div class="card-subject">{{ note.title }}</div>
            <div class="card-content">
            {{ note.content | safe | truncatewords_html:20  }}
            </div>
            <div class="card-extras">
              <a class="icon--edit fortesting" href="{{ note.get_absolute_url }}" data-bs="">Edit</a>
              <button class="icon--delete delNote" href="{% url 'note_delete' note.id %}" data-bs="delNote">Delete</button>
              <button class="icon--option opt-trigger" href="" data-bs="opt-trigger">Option</button>
            </div>
          </div>
        {% endfor %}
      {% endblock body %}
    </div>
  {% else %}
    {% include "notes/empty_card.html" with content='note' subject="Notes" %}
  {% endif %}
{% endblock innermain %}

{% block modalblock %}
  <div class="modal" id="noteModal" >
    <div class="modal-header">
      <h5 class="modal-title">New Note</h5>
    </div>
    <div class="modal-body">
      {% include 'notes/note_modal.html' %}
    </div>
    <div class="modal-footer">
      <button type="button" class="bttn--base modal-close" data-bs-dismiss="modal">Cancel</button>
      <button type="submit" class="bttn--base" form="NoteModalForm" >Save</button>
    </div>
  </div>
{% endblock modalblock %}

{% block modalblock2 %}
  <div class="modal" id="notebookModal" >
    <div class="modal-header">
      <h5 class="modal-title">New NoteBook</h5>
    </div>
    <div class="modal-body">
      {% include 'notebooks/notebook_modal.html' %}
    </div>
    <div class="modal-footer">
      <button type="button" class="bttn--base modal-close" data-bs-dismiss="modal">Cancel</button>
      <button type="submit" class="bttn--base" form="NoteBookModalForm" >Save</button>
    </div>
  </div>
{% endblock modalblock2 %}

{% block fixedbutton %}
  {% include "notes/fixed_button.html" with item=notes %}
{% endblock fixedbutton %}

{% block script %}
  <script src="{% static 'notes/summernote/summernote-lite.min.js' %}"> </script>
  {% if not notes %}
    <script> animator.animate('','emptyPage')</script>
  {% endif %}
{% endblock script %}
