{% extends "base_template.html" %}

{% load i18n %}

{% block head_title %}{% trans "E-mail Addresses" %}{% endblock %}

{% block body %}
<div class="wrapper-base" style="height: calc(100vh - 69px);">
  <div class="profile-main">

    <div class="profile-card">
      <h1>{% trans "E-mail Addresses" %}</h1>
      {% if user.emailaddress_set.all %}
      <p>{% trans 'The following e-mail addresses are associated with your account:' %}</p>
    </div>


    <div class="profile-form">
      <form action="{% url 'account_email' %}" class="email_list" method="post">
        {% csrf_token %}
        <fieldset class="blockLabels">

          {% for emailaddress in user.emailaddress_set.all %}
            <div class="ctrlHolder">
                  <label for="email_radio_{{forloop.counter}}" class="{% if emailaddress.primary %}primary_email{%endif%}">

                  <input id="email_radio_{{forloop.counter}}" type="radio" name="email" {% if emailaddress.primary or user.emailaddress_set.count == 1 %}checked="checked"{%endif %} value="{{emailaddress.email}}"/>

            {{ emailaddress.email }}
                {% if emailaddress.verified %}
                <span class="verified">{% trans "Verified" %}</span>
                {% else %}
                <span class="unverified">{% trans "Unverified" %}</span>
                {% endif %}
                  {% if emailaddress.primary %}<span class="primary">{% trans "Primary" %}</span>{% endif %}
            </label>
            </div>
          {% endfor %}

          <div class="buttonHolder">
                <button class="bttn--base secondaryAction" type="submit" name="action_primary" >{% trans 'Make Primary' %}</button>
                <button class="bttn--base secondaryAction" type="submit" name="action_send" >{% trans 'Re-send Verification' %}</button>
                <button class="bttn--base primaryAction" type="submit" name="action_remove" >{% trans 'Remove' %}</button>
          </div>

        </fieldset>
      </form>
    </div>
    {% else %}
    <p><strong>{% trans 'Warning:'%}</strong> {% trans "You currently do not have any e-mail address set up. You should really add an e-mail address so you can receive notifications, reset your password, etc." %}</p>
    {% endif %}

    {% if can_add_email %}
    <div class="profile-form">
      <p>{% trans "Add E-mail Address" %}</p>
      <form method="post" action="{% url 'account_email' %}" class="add_email">
        {% csrf_token %}
        <div class="input-group">
          {{ form.non_field_errors }}
          <div class="input-set {% if form.email.errors %}invalid{% endif %}">
            <label class="input-set__label">Email:</label>
            <div class="input-set__file">{{ form.email }}</div>
          </div>
          {{ form.email.errors }}
        </div>
        <button class="bttn--base" name="action_add" type="submit">{% trans "Add E-mail" %}</button>
      </form>
    </div>
    {% endif %}

    <div class="profile-extras">
      <a class="bttn--base" href="{% url 'profile_detail' %}">{% trans "Profile" %}</a>
      <a class="bttn--base" href="{% url 'account_change_password' %}">{% trans "Update Password" %}</a>
      <a href="#" class="bttn--base modal-trigger account-trigger" data-target="account-modal" data-url="{% url 'ajax_password_reset' %}" data-bs="password-reset">{% trans "Reset Password" %}</a>
    </div>
  </div>
</div>

{% endblock body %}


{% block script %}
<script type="text/javascript">
(function() {
  var message = "{% trans 'Do you really want to remove the selected e-mail address?' %}";
  var actions = document.getElementsByName('action_remove');
  if (actions.length) {
    actions[0].addEventListener("click", function(e) {
      if (! confirm(message)) {
        e.preventDefault();
      }
    });
  }
})();
</script>
{% endblock script %}
