{% extends "base_template.html" %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block body %}
<div class="account-main">
  <div class="account-header">
    <h1>{% trans "Password Reset" %}</h1>
    <small>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</small>
  </div>
  <div class="account-body">
    <form class="password_reset" id="signup_form" method="POST" action="{% url 'account_reset_password' %}">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
        {{ hidden }}
        {% endfor %}
        <div class="input-group">
          <div class="input-set">
              <label class="input-set__label">Email:</label>
              <div class="input-set__file">
                  {{ form.email }}
              </div>
              {{ form.email.errors }}
          </div>
        </div>
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="bttn primaryAction" type="submit">{% trans "Reset Password" %}</button>
    </form>
  </div>
  <div class="social-body">
    
  </div>
  <div class="account-footer">
    <p><a href="{{ login_url }}">sign in here</a>.</p>
    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
  </div>
</div>
{% endblock body %}
