{% extends "base_template.html" %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block body %}
<div class="account-main">
  <div class="account-header">
    <h1>{% trans "Change Password" %}</h1>
    <p>{% trans 'Your password is now changed.' %}</p>
  </div>
  <div class="account-body">

  </div>
  <div class="social-body">
    
  </div>
  <div class="account-footer">
    <a class="bttn--base" href="{% url 'account_login' %}">sign in here</a>
  </div>
</div>
{% endblock body %}
