{% extends "userauth\base_account_template.html" %}
{% load i18n %}


{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block body %}
<div class="account-main">
  <div class="account-header">
    <h1>{% blocktrans %}Set Password{% endblocktrans %}</h1>
  </div>
  <div class="account-body">
    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="bttn" name="action">{% trans 'Set Password' %}</button>
    </form>
  </div>
  <div class="social-body">
    
  </div>
  <div class="account-footer">
    <p>{% blocktrans %}<a href="{% url 'account_login' %}">sign in here</a>.{% endblocktrans %}</p>
    <p>{% blocktrans %}Please contact us if you have any trouble setting your password.{% endblocktrans %}</p>
  </div>
</div>
{% endblock body %}
