{% extends "userauth/base_account_template.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Sign Up" %}{% endblock %}


{% block body %}
<div class="account-main">
  <div class="account-header">
    <h1>{% trans "Sign Up" %}</h1>
    <h3>{% trans "Register for a Noted Account" %}</h3>
  </div>
  <div class="account-body">
    <form class="signup" id="signup_form" method="POST" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}
    <div class="input-set">
      {{ form.username.errors }}
      <label class="input-set__label">Username:</label>
      <div class="input-set__file">
      {{ form.username }}
      </div>
    </div>
    <div class="input-set">
      {{ form.email.errors }}
      <label class="input-set__label">Email:</label>
      <div class="input-set__file">
      {{ form.email }}
      </div>
    </div>
    <div class="input-set">
      {{ form.password1.errors }}
      <label class="input-set__label">Password:</label>
      <div class="input-set__file">
      {{ form.password1 }}
      </div>
    </div>
    <div class="input-set">
      {{ form.password2.errors }}
      <label class="input-set__label">Password (again):</label>
      <div class="input-set__file">
      {{ form.password2 }}
      </div>
    </div>
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="bttn--base primaryAction" type="submit">{% trans "Sign Up" %}</button>
  </form>
  </div>
  <div class="social-body">
    
  </div>
  <div class="account-footer">
    <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
  </div>
</div>
{% endblock body %}

{% block script %}
{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
  <script> callToast("{{ error }}") </script>
{% endfor %}
{% endif %}
{% endblock script %}
