{% extends "base_template.html" %}
{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block body %}
<div class="account-main">
  <div class="account-header">
    <h1>{% trans "Verify Your E-mail Address" %}</h1>
  </div>
  <div class="account-body">
    <p>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
  </div>
  <div class="social-body">
    
  </div>
  <div class="account-footer">
    <a class="bttn" href="{% url 'note_home' %}"> Notes </a>
    <p>{% blocktrans %}<a href="{{ login_url }}">sign in here</a>.{% endblocktrans %}</p>
  </div>
</div>
{% endblock body %}
